.header {
    position: relative;
    z-index: 1;
}

    nav {
        position: relative;
        background-color: white;
        opacity: 20%;
        padding-top: 1.0625rem;
        padding-bottom: 1.0625rem;

}

    .logotop {

}