.services {
    background-color: $lightGreen;


    &__intro {
        margin-top: 1rem;
        font-size: xx-large;
    }
    
    &__grid {
        display: flex;
        flex-direction: row;
        justify-content: center;
        grid-template-columns: 1fr;
        gap: 1.875rem;

       
     }

    &__item {
        border-radius: 0.3125rem;
        overflow: hidden;
        background-color: $PrimaryGreen;
        width: 285px;
        height: 413px;
        padding: 10px 10px 10px 10px;
        justify-content: center;
        color: white;
        font-size: large;
        
    }


   

    

}