// Colors

$PrimaryGreen: #063036;
$PrimaryCopper: #FF6A33;
$lightGreen: #E1F3ED;

$black: #000000;
$white: #FFFFFF;
$grey: #313131;

// Font Sizes
$font-sm: 0.875rem; 
$font-med: 1.125rem;
$font-lg: 1.25rem;
$font-xlg: 3.25rem;